@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url("https://use.typekit.net/mqz2wha.css");
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    display: block;
    width: auto;
    margin: auto;
    padding: 30px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
}

input {
    display: inline-block;
    font-size: 14pt;
    font-family: 'Fjalla One';
    border: none;
    border-bottom: 5px solid rgba(0, 0, 0, 1);
    background: #f8f4e5;
    min-width: 250px;
    padding: 10px;
    outline: none;
    margin-right: 10px;
    color: rgba(0, 0, 0, 1);
}

button {
    display: inline-block;
    margin: 0 auto;
    font-family: 'Fjalla One';
    padding: 10px 20px;
    background: #ffa580;
    letter-spacing: 2px;
    transition: .2s all ease-in-out;
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px rgba(0, 0, 0, 1);
}

.user-profile {
    text-align: left;
    max-width: 370px;
    font-family: "quicksand", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
    border-radius: 5px;
}

.user-profile span {
    font-weight: 400;
}

label {
    display: block;
    font-family: "quicksand", sans-serif;
    margin-bottom: 20px;
}

label input {
    width: 100%;
}

.homepage a {
    background-color: #f0f0f0;
    box-shadow: 0 5px 0 #c8c8c8;
    color: #000;
    display: block;
    max-width: 400px;
    margin: 20px auto;
    padding: 1em 1.5em;
    text-decoration: none;
}

a {
    margin: 20px;
    display: block;
}

a svg path {
    fill: #95a4ff;
}

.homepage a:hover {
    background-color: #c8c8c8;
    cursor: pointer;
}